/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1{
  font-size: 5em;
  color:rgb(146, 175, 167);
  font-family: "Baskerville", "serif"; 
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin: 0 0 5px;
}

h2{
  font-size: 2em;
  color:rgb(111,127,122);
  font-family: "Times New Roman", "serif"; 
  font-weight: bold;
}

p{
  font-family: "Times New Roman", "serif"; 
  font-size: 1em;
  color: #555;
  
}

#main_image{
  border: 5px rgb(152,173,166) solid;
}

.brand_image{
    border: 5px #ccc solid;
    padding: 1px;
}

#copyright{
  text-align: right;
  font-size: 0.8em;
  
}


